<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Extracted Sentence</title>
</head>
<body>
    <h1>Extracted Sentence</h1>
    <p>Selected Word: @ViewBag.SelectedWord</p>
    <p>Modified Sentence: @ViewBag.ModifiedSentence</p>
</body>
</html>
