@model List<WebMvc.Models.Domain.Questions>

<h1>Sonuç Sayfası</h1>

<p>İşlem tamamlandı.</p>

@foreach (var sentence in Model)
{
    <p>@sentence.quest</p>
    <p>@sentence.answer</p>
    <p>@sentence.questionTime</p>
}