@model List<WebMvc.Models.TeacherViewModels.TVM_SubSentence>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Word Extraction</title>
    <style>
        .word {
            display: inline-block;
            cursor: pointer;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <h1>Word Extraction</h1>
    <div id="sentences">
        @foreach (var sentence in Model)
        {
            <p class="sentence" data-time="@sentence.Time">@sentence.Sentence</p>
        }
    </div>

    <a class="btn btn-warning btn-sm" href="/Teacher/CourseInfo?id=@ViewBag.CourseId">Return</a>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var sentenceElements = document.querySelectorAll('.sentence');

            sentenceElements.forEach(function (sentenceElement) {
                var sentenceText = sentenceElement.textContent.trim();
                var time = sentenceElement.dataset.time;
                var words = sentenceText.split(/\s+/);

                sentenceElement.innerHTML = '';

                words.forEach(function (word) {
                    var wordElement = document.createElement('span');
                    wordElement.classList.add('word');
                    wordElement.textContent = word;
                    wordElement.addEventListener('click', function () {
                        var selectedWord = word;
                        var modifiedSentence = sentenceText.replace(selectedWord, '____________');

                        // AJAX ile sunucuya seçilen kelime ve çıkarılan cümleyi göndermek için yapılması gereken işlemler
                        $.ajax({
                            data:
                            {
                                sentence: modifiedSentence,
                                selectedWord: selectedWord,
                                time: time,
                                videoId: "@ViewBag.VideoId"
                            },
                            type: 'POST',
                            url: '@Url.Action("TakeTeacherAddQuestions")'
                        })


                        // Bu örnekte, JavaScript konsoluna çıkarılan kelime ve cümleyi yazdırıyoruz
                        console.log('Selected Word:', selectedWord);
                        console.log('Modified Sentence:', modifiedSentence);
                        console.log('Time:', time);
                    });

                    sentenceElement.appendChild(wordElement);
                });
            });
        });
    </script>
</body>
</html>